<h2><%=@listing.title%></h2>
<strong>Company: </strong> <%=@listing.company%><br>
<strong>Location: </strong> <%=@listing.location%><br>
<strong>Employment type: </strong> <%=@listing.employment_type%><br>
<strong>Description</strong><br>
<%=@listing.description%><br>
<strong>Requirements</strong><br>
<%=@listing.requirements%><br>
<strong>Retribution per month: </strong>$<%=@listing.retribution%>
